<h1>
  All preferences
</h1>

<a href="/preferences/new">
  Add a new preference
</a>

<hr>

<table class="table">
  <tr>
    <th>
      ID
    </th>

    <th>
      User
    </th>

    <th>
      Integer
    </th>

    <th>
      My formality
    </th>

    <th>
      My schedule
    </th>

    <th>
      My experience
    </th>

    <th>
      Their formality
    </th>

    <th>
      Their schedule
    </th>

    <th>
      Wt schedule
    </th>

    <th>
      Wt formality
    </th>

    <th>
      Wt experience
    </th>

    <th>
      Created at
    </th>

    <th>
      Updated at
    </th>

    <th>
    </th>
  </tr>

  <% @preferences.each do |preference| %>
  <tr>
    <td>
      <%= preference.id %>
    </td>

    <td>
      <%= preference.user_id %>
    </td>

    <td>
      <%= preference.integer %>
    </td>

    <td>
      <%= preference.My_Formality %>
    </td>

    <td>
      <%= preference.My_Schedule %>
    </td>

    <td>
      <%= preference.My_Experience %>
    </td>

    <td>
      <%= preference.Their_Formality %>
    </td>

    <td>
      <%= preference.Their_Schedule %>
    </td>

    <td>
      <%= preference.Wt_Schedule %>
    </td>

    <td>
      <%= preference.Wt_Formality %>
    </td>

    <td>
      <%= preference.Wt_Experience %>
    </td>

    <td>
      <%= time_ago_in_words(preference.created_at) %> ago
    </td>

    <td>
      <%= time_ago_in_words(preference.updated_at) %> ago
    </td>

    <td>
      <a href="/preferences/<%= preference.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
