<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <!-- Latest compiled and minified JavaScript -->
  <style>
  textarea {
  width: 300px;
  height: 150px;
}
  </style>
  <script src="https://use.fontawesome.com/cecde7ae31.js"></script>
</head>
<body>


  <nav class="navbar navbar-inverse bg-inverse navbar-fixed-top" >
    <div class="navbar-header page-scroll">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">Buddy Up</a>
    </div>

    <div class="collapse" id="navbarToggleExternalContent">
          <!-- Sign in or out -->
            <% if user_signed_in? %>
              <a class="nav-item nav-link" href = "/users/sign_out"> Sign Out</a>
            <% else %>
              <a class="nav-item nav-link" href = "/users/sign_in"> Sign In</a>
            <% end %>

            <!-- Determine if User has valid profile -->
            <!-- If profile valid, show links, if not valid redirect to complete profile -->
            <% if user_signed_in? and current_user.valid? and current_user.preference.valid? and current_user.have_skills.count > 0 and  current_user.need_skills.count > 0   %>
            <a class="nav-item nav-link" href = "/profile/new"> Edit Profile</a>
            <a class="nav-item nav-link" href = "/profile/show/<%= current_user.id %>"> View Profile</a>
            <a class="nav-item nav-link" href = "/matches/show"> Matches</a>
            <% elsif  user_signed_in? %>
              <a class="nav-item nav-link" href = "/profile/new"> Complete Profile</a>
            <% end %>


      </div>

  </nav>


<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">

<p>Complete your profile

<p><h3>Step 1: Tell us about yourself</h3>

<!-- Profile Errors -->
<% if @my_profile.errors.any? %>
  <div id="error_explanation">

    <ul>
    <% @my_profile.errors.full_messages.each do |msg| %>
      <b><font color="red"><%= msg %></font></b>
    <% end %>
    </ul>
  </div>
<% end %>



<!-- Basic Profile Information -->
<form action="/profile/update">

<table>
  <tr>
    <td><%= label_tag :first_name %></td>
    <td><%= text_field_tag :first_name, @my_profile.first_name %></td>
  </tr>

  <tr>
    <td><%= label_tag :last_name %></td>
    <td><%= text_field_tag :last_name, @my_profile.last_name %></td>
  </tr>

  <tr>
    <td><%= label_tag :bio %></td>
    <td><%=text_area_tag :bio ,  @my_profile.bio%></td>
  </tr>

  <tr>
    <td><%= label_tag :linked_in %></td>
    <td><%= text_field_tag :linked_in, @my_profile.linked_in %></td>
  </tr>

  <tr>
    <td><%= label_tag :twitter %></td>
    <td><%= text_field_tag :twitter, @my_profile.twitter %></td>
  </tr>
</table>
<p>

<br>
<button>Update Profile</button>
</form>

<hr>
<p><h3>Step 2: What kind of skills do you have (can teach)</h3>
<!-- Current Skills Errors  -->
<!-- Call these errors when running def create_row_have_skill not new_profile  -->
<% if @have_skill.present? then %>
<% if @have_skill.errors.any? %>
  <div id="error_explanation">

    <ul>
    <% @have_skill.errors.full_messages.each do |msg| %>
      <b><font color="red"><%= msg %></font></b>
    <% end %>
    </ul>
  </div>
<% end %>
<% end %>

<!--Teach Skills -->
<form action="/create_have_skill" >
<!-- List current have skills  -->
<br> Current Teaching Skills:
<br>
<% if @my_have_skills.present? then %>
<% @my_have_skills.each do |teach|%>
  <li>  <%= teach.skill_category %>
     > <%= teach.skill_subcategory %>
      > <%= teach.skill_description %>
    <a href="/delete_have_skill/<%= teach.id %>">Delete Skill</a>
  </li>
<% end %>

<% else %>
  <b><font color="red">   You do not have any current teaching skills.  Please add one.</font></b>

<% end %>

<p>
<table>
  <tr>
    <td><%= select_tag(:full_skill_name,
    options_from_collection_for_select(Skill.all, :id, :full_skill_name),
    :class => "form-control") %>
    </td>
    <td>
        <button>Add</button>
    </td>
  </tr>
</table>

</form>


<hr>
<p><h3>Step 3: What kind of skills do you want (learn)</h3>
  <!-- Call these errors when running def create_row_need_skill not new_profile  -->
  <% if @need_skill.present? then %>
  <% if @need_skill.errors.any? %>
    <div id="error_explanation">

      <ul>
      <% @need_skill.errors.full_messages.each do |msg| %>
        <b><font color="red"><%= msg %></font></b>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% end %>


<!--Teach Skills -->
<form action="/create_need_skill" >

  <!-- List current need skills  -->
  <br> Current Learning Skills:
  <br>
  <% if @my_need_skills.present? then %>
  <% @my_need_skills.each do |learn|%>
    <li>  <%= learn.skill_category %>
       > <%= learn.skill_subcategory %>
        > <%= learn.skill_description %>
        <a href="/delete_need_skill/<%= learn.id %>">Delete Skill</a>
    </li>
  <% end %>
  <% else %>
    <b><font color="red">  You do not have any current learning skills.  Please add one.</font></b>

  <% end %>

  <p>
  <table>
    <tr>
      <td><%= select_tag(:full_skill_name,
          options_from_collection_for_select(Skill.all, :id, :full_skill_name),
          :class => "form-control") %>
      </td>
      <td>
          <button>Add</button>
      </td>
    </tr>
  </table>


</form>

<hr>
<p><h3> Step 4: What kind of experience do you want?</h3>

  <p> We ask three questions to match you with your buddy.  This allows us to optimize compatibility between you and your matched buddy.
<br>
<li><b><i>My Answer: </i></b>First answer the question for yourself.</li>
<li><b><i>Their Answer: </i></b>Then let us know how you want your buddy to answer the question.</li>
<li><b><i>Importance: </i></b> Then let us know how important this trait is to you.</li>


<!-- Preference errors -->
<p>
<% if @my_preferences == nil %>
  <b><font color="red">Please update your preferences.</font></b>
<% end %>

<% if @preference.present? then %>
<% if @preference.errors.any? %>
  <div id="error_explanation">

    <ul>
    <% @preference.errors.full_messages.each do |msg| %>
      <br><b><font color="red"><%= msg %></font></b>
    <% end %>
    </ul>
  </div>
<% end %>
<% end %>

<p>
<!--Preferences -->
<form action="/update_preferences" >

<table>

<p><b>Q1: How often do you want to meet?</b>

<tr>
  <td>My Answer:</td>
  <td>
    <% if @my_preferences != nil %>
      <%= select_tag(:My_Schedule, options_for_select(
      [["Daily", 1], ["Weekly", 2], ["Bi-Weekly", 3], ["Monthly", 4]],
      @my_preferences.My_Schedule), :include_blank => true,  :class => "form-control") %>
    <% else %>
      <%= select_tag(:My_Schedule, options_for_select(
      [["Daily", 1], ["Weekly", 2], ["Bi-Weekly", 3], ["Monthly", 4]]),
      :include_blank => true, :default => nil,:class => "form-control") %>
    <% end %>
  </td>
</tr>


<tr>
  <td>Their Answer:</td>
  <td>
    <% if @my_preferences != nil %>
      <%= select_tag(:Their_Schedule, options_for_select(
      [["Daily", 1], ["Weekly", 2], ["Bi-Weekly", 3], ["Monthly", 4]],
      @my_preferences.Their_Schedule), :include_blank => true,  :class => "form-control") %>
    <% else %>
      <%= select_tag(:Their_Schedule, options_for_select(
      [["Daily", 1], ["Weekly", 2], ["Bi-Weekly", 3], ["Monthly", 4]]),
      :include_blank => true, :default => nil,:class => "form-control") %>
    <% end %>

  </td>
</tr>

<tr>
  <td>Importance:</td>
  <td>
    <% if @my_preferences != nil %>
      <%= select_tag(:Wt_Schedule, options_for_select(
      [["Not important", 1], ["Somewhat important", 10], ["Important", 50], ["Very important", 250]],
      @my_preferences.Wt_Schedule), :include_blank => true,  :class => "form-control") %>
    <% else %>
      <%= select_tag(:Wt_Schedule, options_for_select(
      [["Not important", 1], ["Somewhat important", 10], ["Important", 50], ["Very important", 250]]),
      :include_blank => true, :default => nil,:class => "form-control") %>
    <% end %>

  </td>

</tr>

</table>

<p><b>Q2: Do you like formal or unformal learning?</b>
<table>
<tr>
  <td>My Answer:</td>
  <td>
    <% if @my_preferences != nil %>
      <%= select_tag(:My_Formality, options_for_select(
      [["Informal", 1], ["Somewhat structured", 2], ["Structured", 3], ["Very structured", 4]],
      @my_preferences.My_Formality), :include_blank => true,  :class => "form-control") %>
    <% else %>
      <%= select_tag(:My_Formality, options_for_select(
      [["Informal", 1], ["Somewhat structured", 2], ["Structured", 3], ["Very structured", 4]]),
      :include_blank => true, :default => nil,:class => "form-control") %>
    <% end %>
  </td>
</tr>


<tr>
  <td>Their Answer:</td>
  <td>
    <% if @my_preferences != nil %>
      <%= select_tag(:Their_Formality, options_for_select(
      [["Informal", 1], ["Somewhat structured", 2], ["Structured", 3], ["Very structured", 4]],
      @my_preferences.Their_Formality), :include_blank => true,  :class => "form-control") %>
    <% else %>
      <%= select_tag(:Their_Formality, options_for_select(
      [["Informal", 1], ["Somewhat structured", 2], ["Structured", 3], ["Very structured", 4]]),
      :include_blank => true, :default => nil,:class => "form-control") %>
    <% end %>

  </td>

</tr>

<tr>
  <td>Importance:</td>
  <td>
    <% if @my_preferences != nil %>
      <%= select_tag(:Wt_Formality, options_for_select(
      [["Not important", 1], ["Somewhat important", 10], ["Important", 50], ["Very important", 250]],
      @my_preferences.Wt_Formality), :include_blank => true,  :class => "form-control") %>
    <% else %>
      <%= select_tag(:Wt_Formality, options_for_select(
      [["Not important", 1], ["Somewhat important", 10], ["Important", 50], ["Very important", 250]]),
      :include_blank => true, :default => nil,:class => "form-control") %>
    <% end %>
  </td>
</tr>

</table>



<p><b>Q3: How experienced are you in your skills?</b>
<table>
<tr>
  <td>My Answer:</td>
  <td>
    <% if @my_preferences != nil %>
      <%= select_tag(:My_Experience, options_for_select(
      [["Beginner", 1], ["Intermediate", 2], ["Power user", 3]],
      @my_preferences.My_Experience), :include_blank => true,  :class => "form-control") %>
    <% else %>
      <%= select_tag(:My_Experience, options_for_select(
      [["Beginner", 1], ["Intermediate", 2], ["Power user", 3]]),
      :include_blank => true, :default => nil,:class => "form-control") %>
    <% end %>
  </td>

</tr>


<tr>
  <td>Their Answer:</td>
  <td>
    <% if @my_preferences != nil %>
      <%= select_tag(:Their_Experience, options_for_select(
      [["Beginner", 1], ["Intermediate", 2], ["Power user", 3]],
      @my_preferences.Their_Experience), :include_blank => true,  :class => "form-control") %>
    <% else %>
      <%= select_tag(:Their_Experience, options_for_select(
      [["Beginner", 1], ["Intermediate", 2], ["Power user", 3]]),
      :include_blank => true, :default => nil,:class => "form-control") %>
    <% end %>

  </td>

</tr>

<tr>
  <td>Importance:</td>
  <td>
    <% if @my_preferences != nil %>
      <%= select_tag(:Wt_Experience, options_for_select(
      [["Not important", 1], ["Somewhat important", 10], ["Important", 50], ["Very important", 250]],
      @my_preferences.Wt_Experience), :include_blank => true,  :class => "form-control") %>
    <% else %>
      <%= select_tag(:Wt_Experience, options_for_select(
      [["Not important", 1], ["Somewhat important", 10], ["Important", 50], ["Very important", 250]]),
      :include_blank => true, :default => nil,:class => "form-control") %>
    <% end %>


  </td>

</tr>

</table>

<br>
<button>Save Preferences</button>
</form>


</div>
<div class="col-sm-offset-0 col-sm-3"></div>
</div>
</div>

</body>
