

<!-- Show profile -->
<p>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
          <i class="fa fa-user fa-4x" aria-hidden="true"></i>
          <br><%= @my_profile.first_name %> <%= @my_profile.last_name %>
          <br>
          <a href="/mailbox/new_message/<%= @my_profile.id %>"><i class="fa fa-envelope fa-2x"></i></a>

          <% if @my_profile.twitter != nil %>
          <a href="<%= @my_profile.twitter  %>"><i class="fa fa-twitter fa-2x"></i></a>
          <% end %>

          <% if @my_profile.linked_in != nil %>
          <a href="<%= @my_profile.linked_in  %>"><i class="fa fa-linkedin fa-2x"></i></a>
          <% end %>
        </div>
        <div class="col-sm-8">
          <p> <b>About Me:</b>
          <br><%= @my_profile.bio %>

          <p> <b>Teaching Skills:</b>
          <br>
          <% @my_have_skills.each do |teach|%>
            <li>  <%= teach.skill_category %>
               > <%= teach.skill_subcategory %>
                > <%= teach.skill_description %>
            </li>
            <% end %>

          <p> <br><b>Learning Skills:</b>
          <br>
          <% @my_need_skills.each do |learn|%>
            <li>  <%= learn.skill_category %>
               > <%= learn.skill_subcategory %>
                > <%= learn.skill_description %>
            </li>
            <% end %>

          <p><br> <b>Learning Preferences:</b>
            <table>
              <tr>
                <td> </td>
                <td><%= @my_profile.first_name %>'s' Answer</td>
                <td><%= @my_profile.first_name %>'s Importance</td>
              </tr>

              <tr>
                <td>Schedule </td>
                <td><%= select_tag(:My_Schedule, options_for_select(
                                    [["Daily", 1], ["Weekly", 2], ["Bi-Weekly", 3], ["Monthly", 4]],
                                    @my_preferences.My_Schedule), :disabled => true,  :class => "form-control") %>
                </td>
                <td>
                  <%= @my_preferences.Wt_Schedule %>
                </td>
              </tr>

              <tr>
                <td>Experience </td>
                <td><%= select_tag(:My_Experience, options_for_select(
                    [["Beginner", 1], ["Intermediate", 2], ["Power user", 3]],
                    @my_preferences.My_Experience), :disabled => true,  :class => "form-control") %>
                </td>
                <td>
                  <%= @my_preferences.Wt_Experience %>
                </td>
              </tr>

              <tr>
                <td>Learning Structure</td>
                <td>  <%= select_tag(:My_Formality, options_for_select(
                      [["Informal", 1], ["Somewhat structured", 2], ["Structured", 3], ["Very structured", 4]],
                      @my_preferences.My_Formality), :disabled => true,  :class => "form-control") %>
                </td>
                <td>
                  <%= @my_preferences.Wt_Formality %>
                </td>
              </tr>
            </table>



        </div>
    </div>
</div>
