
<p>
  <div class="container" >
      <div class="row">
          <div class="col-sm-7">

<p>The buddy system is when two people operate together as a single unit so that they are able to monitor and help each other.
<p>Learn the smart way.

          </div>
          <div class="col-sm-5">
            <!-- Sign Up Form -->
            <h4 style="text-align: center">Sign Up</h4>

            <table>
            <%= form_for("user", :url => user_registration_path) do |f| %>
            <div class="field">
              <tr>
              <td><%= f.label :first_name %></td>
              <td><%= f.text_field :first_name, autofocus: true %></td>
              </tr>
            </div>

            <div class="field">
              <tr>
                <td><%= f.label :last_name %></td>
                <td><%= f.text_field :last_name, autofocus: true %></td>
              </tr>
            </div>

            <div class="field">
              <tr>
                <td><%= f.label :email %></td>
                <td><%= f.email_field :email, autofocus: true %></td>
              </tr>
            </div>

            <div class="field">
              <tr>
                <td><%= f.label :password %></td>
                <td><% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
              <%= f.password_field :password, autocomplete: "off" %></td>
              </tr>
            </div>

            <div class="field">
              <tr>
                <td><%= f.label :password_confirmation %></td>
                <td><%= f.password_field :password_confirmation, autocomplete: "off" %></td>
              </tr>
            </div>


            <div class="actions">
              <tr>
              <td></td>
              <td style="text-align: right">
                <% if user_signed_in?  %>
                  You're already signed in.
                <% else %>
                  <%= f.submit "Sign up" %>
                <% end %>
              </td>
              </tr>
            </div>
            <% end %>
            </table>


          </div>
      </div>
  </div>

<hr class="star-light">

  <div class="container">
    <center><H2>How it works</h2></center>
      <div class="row">
          <div class="col-sm-4"><i class="fa fa-question-circle fa-4x" aria-hidden="true"></i>
            <br>We ask you questions so that we can understand the type of buddy you're looking for.

          </div>
          <div class="col-sm-4"><i class="fa fa-line-chart fa-4x" aria-hidden="true"></i>
            <br>Then we use the same analytics as okcupid to optimize your matched buddies.
          </div>
          <div class="col-sm-4"><i class="fa fa-refresh fa-4x" aria-hidden="true"></i>
            <br> So that you can get started on your skill trading journey.
          </div>
      </div>
  </div>
