
  <h2>Message <%= @create_convo_buddy.first_name %></h2>
  <!--Mailbox Links -->
    <a class="nav-item nav-link" href = "/profile/show/<%= @create_convo_buddy.id %>"> View <%= @create_convo_buddy.first_name %>'s Profile</a>



<% if @custom_error != nil %> <b><font color="red"><%= @custom_error %> </b></font> <% end %>

<!-- Reply form -->
<form action="/mailbox/message/<%= @create_convo_buddy.id %>">


  <%=text_area_tag :message %>

  <button>Send Message</button>
  </form>
