
  <h2>Conversation with <%= @conversing_buddy.first_name %> </h2>
<!--Mailbox Links -->
  <a class="nav-item nav-link" href = "/mailbox"> Go To All Conversations</a>
  <a class="nav-item nav-link" href = "/mailbox/delete/<%= @conversing_buddy.id %>"> Delete Conversation With <%= @conversing_buddy.first_name %></a>
  <a class="nav-item nav-link" href = "/profile/show/<%= @conversing_buddy.id %>"> View <%= @conversing_buddy.first_name %>'s Profile</a>


<p>
  <!-- Message Errors For New Replies -->
<% if @my_convo.present? %>

  <% if @my_convo.errors.any? %>
    <div id="error_explanation">

      <ul>
      <% @my_convo.errors.full_messages.each do |msg| %>
        <b><font color="red"><%= msg %></font></b>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>


  <table>


  <% @my_messages.each do |message|%>
  <!-- Show Name -->
    <tr>
  <% if message["sender_id"] == current_user.id %>
  <td>  Me:</td>
  <% else %>
  <td>  <%= @conversing_buddy.first_name %>:</td>
  <% end %>

    <!-- Show Message -->
  <td>  <%= message.message %></td>

  <% end %>
  </tr>
  </table>


  <!-- Reply form -->
  <form action="/mailbox/reply/<%= @my_messages.first["buddy_id"] %>">


    <%=text_area_tag :message %>

    <button>Reply</button>
    </form>
