<h1>
  All need skills
</h1>

<a href="/need_skills/new">
  Add a new need skill
</a>

<hr>

<table class="table">
  <tr>
    <th>
      ID
    </th>

    <th>
      Skill category
    </th>

    <th>
      Skill subcategory
    </th>

    <th>
      Skill description
    </th>

    <th>
      Created at
    </th>

    <th>
      Updated at
    </th>

    <th>
    </th>
  </tr>

  <% @need_skills.each do |need_skill| %>
  <tr>
    <td>
      <%= need_skill.id %>
    </td>

    <td>
      <%= need_skill.skill_category %>
    </td>

    <td>
      <%= need_skill.skill_subcategory %>
    </td>

    <td>
      <%= need_skill.skill_description %>
    </td>

    <td>
      <%= time_ago_in_words(need_skill.created_at) %> ago
    </td>

    <td>
      <%= time_ago_in_words(need_skill.updated_at) %> ago
    </td>

    <td>
      <a href="/need_skills/<%= need_skill.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
