<h1>
  All have skills
</h1>

<a href="/have_skills/new">
  Add a new have skill
</a>

<hr>

<table class="table">
  <tr>
    <th>
      ID
    </th>

    <th>
      Skill category
    </th>

    <th>
      Skill subcategory
    </th>

    <th>
      Skill description
    </th>

    <th>
      Created at
    </th>

    <th>
      Updated at
    </th>

    <th>
    </th>
  </tr>

  <% @have_skills.each do |have_skill| %>
  <tr>
    <td>
      <%= have_skill.id %>
    </td>

    <td>
      <%= have_skill.skill_category %>
    </td>

    <td>
      <%= have_skill.skill_subcategory %>
    </td>

    <td>
      <%= have_skill.skill_description %>
    </td>

    <td>
      <%= time_ago_in_words(have_skill.created_at) %> ago
    </td>

    <td>
      <%= time_ago_in_words(have_skill.updated_at) %> ago
    </td>

    <td>
      <a href="/have_skills/<%= have_skill.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
